<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Geoguesser"
        tools:targetApi="31">

        <!-- Die SplashActivity soll als allererste Activity starten -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">

            <!-- der Intent-filter wird von der Main Activity zum Splash screen verschoben -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- MainActivity = Hauptmenü -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- GameActivity -->
        <activity
            android:name=".GameActivity"
            android:exported="false" />

        <!-- InstructionsActivity -->
        <activity
            android:name=".InstructionsActivity"
            android:exported="false" />

        <!-- AboutActivity -->
        <activity
            android:name=".AboutActivity"
            android:exported="false" />

    </application>

</manifest>
